@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
:root{
    --azul-escuro: #1c3144;
    --cinza-escuro: #C4CAD0;
    --cinza: #D9D9D9;
    --branco: #fcf7ff;
}
*{
    font-family: 'Jost', sans-serif;
    color: var(--azul-escuro);
}
body{
    background-color: var(--branco);
    margin: 0;
    margin-left: 230px;
    padding: 0;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 26px;
}
p{
    font-size: 20px;
    margin: -10px 0 0;
}


/* CONTAINERS */
.container-principal{
    width: 100%;
    
}
#chart_div {
    box-sizing: border-box;
}
.container {
    display: flex;
}
.container-2{
    flex: 1;
    padding: 20px;
}
.container-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.grafico{
    width: 40px;
    height: auto;
}
.calendario{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    gap: 15px;
}
.data{
    margin-left: auto;
}

/* MENU LATERAL */
.menu {
    padding: 10px 15px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--cinza-escuro);
    color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
}

.menu-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    gap: 15px;
}
.menu a {
    text-decoration: none;
}

/* LOGO */
.logo{
    width: 48px;
    height: 48px;
}

/* LINK ATIVO DASHBOARD */
.pag-ativo{
    background-color: var(--cinza);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}
/* ADMIN */
#adm{
    font-size: 48px;
}
.menu-usuario{
    margin-top: auto; 
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}




/* CSS DA TABELA */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

th, td {
    border-bottom: 1px solid var(--azul-escuro);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--cinza);
}

#filtroSelect {
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}
